<%- include('includes/header') %>
<%- include('includes/navbar', {needFull: true}) %>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="my-5">Top 3 Projects</h2>
            <p>Introducing the three most rewarding successful Projects.</p>
            <% if (tops.length === 0) { %>
            <h5 class="text-muted" class="my-5">Nothing to find here yet</h5>
            <% } %>
        </div>
    </div>

    <table class="table">
        <tbody>
            <% trophyColors = ["#ffd700", "c0c0c0", "#cd7f32"]; %>
            <% tops.forEach( function(project, index) { %>
            <tr>
                <td>
                    <div class="row p-1">
                        <div onclick="window.location.href = '/projects/<%= project._id %>';" class="h4 col-10 col-lg-6 clickable">
                            <ion-icon name="trophy" style="color: <%= trophyColors[index] %>;"></ion-icon>&nbsp;
                            <%= project.title %>
                        </div>

                        <% if (typeof project._owner === 'undefined') { %>
                        <div class="col-6 col-lg-3">
                            <ion-icon name="archive-outline"></ion-icon>
                            <span class="text-muted">Archived</span>
                        </div>
                        <% } else { %>
                        <div class="col-6 col-lg-3">
                            <ion-icon name="shield-checkmark-outline"></ion-icon>&nbsp;<%= project._owner.name %>
                        </div>
                        <% } %>

                        <div class="col-6 col-lg-3 text-lg-right">
                            <ion-icon name="cash-outline"></ion-icon>&nbsp;$<%= project.reward %>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-12 col-lg-6">
                            <ion-icon name="calendar-outline"></ion-icon>&nbsp;<%= project.startDateString %> -
                            <%= project.endDateString %>
                        </div>
                        <div class="col-6 col-lg-3">
                            <ion-icon name="timer-outline"></ion-icon>&nbsp;<%= project.runTime %>
                        </div>
                        <% if (project.githubRepoPath != "") { %>
                            <div class="col-6 col-lg-3 text-lg-right">
                                <ion-icon name="git-branch-outline"></ion-icon>
                                <a href="https://github.com/<%= project.githubRepoPath %>" target="_blank">
                                    <%= project.githubRepoPath %>
                                </a>
                            </div>
                        <% } %>                        
                    </div>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('includes/footer') %>